<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:replace="~{fragments/layouttemplate :: layout (~{::body})}"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
    <head>
    <meta charset="UTF-8"/>
    <title>replace</title>
</head>
<body>

    <div class="section">
        <!-- container -->
        <div class="container">
            <div class="mx-auto">
                <h2>Log in</h2>
            <form th:action="@{/login}" th:object="${loginForm}" method="post">
              <div class="text--center" th:if="${param.error}"> Invalid username and password. </div> <div class="text--center" th:if="${param.logout}"> You have been logged out. </div>                
                <p th:if="${error}" class="error">UserName & Password Incorrect</p>
                        <div class="form-group">
                            <label for="username">Email address</label>
                          <input class="form-control" required type="email" name="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Lösenord</label>
                          <input class="form-control" required type="password" name="password">
                        </div>
                          <button type="submit" class="btn btn-primary">
                            Login
                            </button>
                      </form>
                    </div>
        </div>
        <!-- /container -->
    </div>



</body>
</html>